@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* #main-div {
  
} */

.nav-bar-div {
  width: 100%;
}

.main-nav {
    position: fixed; 
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.logo-div {
    margin: 1rem;
}
  
.main-nav, .main-nav ul {
  background-color: white;
  opacity: 0.95;
}

.main-nav ul {
    /* background-color: rgb(234, 233, 233); */
    position: absolute;
  /*   text-align: left; */
    left: 0;
    list-style: none;
    width: 100%; 
    transform: scale(1,0);
    transform-origin: top;
    transition: 0.3s;
    border-bottom: 3px solid rgb(37, 37, 37);
}

.main-nav li {
    text-align: center;
    margin: 0.3rem auto;
    padding: 1rem;
    max-width: 95%;
}

.main-nav li:hover {
  box-shadow: 0 -5px 0px #333 inset;
    background-color: rgb(204, 204, 204);
    transition: 0.3s;
}

.main-nav a {
    text-decoration: none;
    color: black;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
} 

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ ul {
    transform: scale(1,1);
}
  
.nav-toggle:checked ~ ul a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
  
.nav-toggle-label span::before {
    bottom: 7px;
}
  
.nav-toggle-label span::after {
    top: 7px;
}

#main-doc {
    margin: 4rem 0 0 0;
}


#active {
    box-shadow: 0 -5px 0px #333 inset;

}

img {
  max-width: 100%;
  height: auto;
}

.gallery {
  margin: 0 0.65rem;
  max-width: 100rem;
}

.gallery-item {
  height: auto; 
  margin: 0.5rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer {
  position: relative;
  width: 100%;
  background-color: #333;
  bottom: 0;
  left: 0;
}

.container3 {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.icons-container,.h2-container2{
  justify-self: center;
}
.icons-container a {
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 2rem;
  
}
.h2-container2 h3, .icons-container a {
  color: rgb(219, 219, 219);
}

@media (min-width: 768px) {
    .nav-toggle-label {
      display: none;
    }
    .main-nav {
      display: grid;
      grid-template-columns: 0.5fr auto minmax(600px, 3.5fr) 0.5fr;
    }
    
    .logo-div {
      grid-column: 2/3;
    }
    .main-nav ul {
      all: unset;
      grid-column: 3/4; 
      list-style: none;
      position: absolute;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: flex-end;
    }
    
    .main-nav ul li{
      margin: 0.3rem 1rem;
    }
    
    .main-nav ul a{
      opacity: 1;
    }

    .gallery {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 300px);
      grid-auto-flow: row dense;
    }

    .gallery-item {
      margin: 0.7rem;
    }

    .gallery-item:first-child {
      grid-row: span 1;
    }

    .gallery-item:nth-child(2) {
      grid-column: 2/3;
      grid-row: span 2;
    }

    .gallery-item:nth-child(6), 
    .gallery-item:nth-child(3) {
      grid-row: span 2;
    }
  }

  @media (min-width: 960px) {
    .gallery {
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(3, auto-flow);
    }

    .gallery-item:first-child,
    .gallery-item:nth-child(7),
    .gallery-item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 1;
    }
    .gallery-item:nth-child(7),
    .gallery-item:nth-child(2),
    .gallery-item:nth-child(11),
    .gallery-item:nth-child(13) {
      grid-column: span 2;
      grid-row: span 2;
    }

  
  }